@using Microsoft.AspNetCore.Mvc.Localization
@model int

<div class="form-group">
    @Html.LabelFor(s => s, new { @class = "" })
    @Html.TextBoxFor(s => s, new { type = "number", @class = "form-control" })
    @Html.ValidationMessageFor(s => s, null, new { @class = "text-danger" })
</div>