@using Microsoft.AspNetCore.Mvc.Localization
@model TimeSpan?

<div class="form-group">
    @Html.LabelFor(s => s, new { @class = "" })
    @Html.TextBoxFor(s => s, "{0:hh\\:mm}", new { type = "time", @class = "form-control" })
    @Html.ValidationMessageFor(s => s, null, new { @class = "text-danger" })
</div>